{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>
<body>
    <div align="center" class="menu">
        <h2><a href="http://127.0.0.1:8000/game"><button>Игры</button></a>
        <a href="http://127.0.0.1:8000/basket"><button>Корзина</button></a>
        <a href="http://127.0.0.1:8000/"><button>Главная</button></a>
        <a href="http://127.0.0.1:8000/registration"><button>Регистрация</button></a></h2>
        <a href="http://127.0.0.1:8000/login"><button>Вход</button></a></h2>
    </div>
</body>
</html>